
# LibreOffice lock files
.~lock.*#
*.tmp
*.bak
*.~lock 


*.private
id_rsa
sshkey.private
bandit13/sshkey.private
bandit16/sshkey.private
bandit17/sshkey.private
bandit25/bandit26.sshkey
bandit26/bandit26.sshkey
bandit28/repo
bandit29/repo
bandit30/repo